body{
	background: url("../img/dot.svg") #fefcea;
	background-repeat: repeat;
}

.picture {
	width: 180px;
	height: 180px;
}

.patter-image{
	background-size: 100%;
	height: 500px;
	overflow: hidden;
	width: 100%;
	padding-bottom: 50px;
	padding-top: 50px;
	display: block;
	position: center top;
	
}

.section-header{
	position: relative;
}


nav{
	background-color: #dd2643;
	
}

.unselectable{
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
