body{
	background: url("../img/dot.svg") #fefcea;
	background-repeat: repeat;
}

.picture {
	width: 180px;
	height: 180px;
}

.patter-image{
	background-size: 100%;
	height: 500px;
	overflow: hidden;
	width: 100%;
	padding-bottom: 15px;
	padding-top: 15px;
	display: block;
}

.section-header{
	position: relative;
}

.header-image{
	width: 100%;
}

.header-content{
	top: 40%;
	display: block;
	position: absolute;
	text-align: center;
}
nav{
	background-color: #dd2643;
	
}

